<div class="invoicePartial">
	<div class="invoicePartialId">
		<p><%= invoice.id %></p>
	</div>
	<div class="invoicePartialDate">
		<p><%= link_to invoice.created_at.strftime('%B %d, %y'), invoice %></p>
	</div>
	<div class="invoicePartialClient">
		<p><%= invoice.client.name %></p>
	</div>
	<div class="invoicePartialTotal">
		<p><%= number_to_currency(invoice.total) %></p>
	</div>
	<div class="invoicePartialPaid">
		<% if current_user.admin? %>
			<% if invoice.paid? %>
				<%= link_to 'Paid', toggle_paid_invoice_path(invoice) %>
			<% else %>
				<%= link_to 'Not Paid', toggle_paid_invoice_path(invoice) %>
			<% end %>
		<% else %>
			<% if invoice.paid? %>
				Paid
			<% else %>
				Not Paid
			<% end %>
		<% end %>
	</div>
	<div class="clear"></div>
</div>