<div class="invoicePartial" id="invoice_<%= invoice.id %>">
	<div class="invoicePartialId">
		<p><%= invoice.id %></p>
	</div>
	<div class="invoicePartialDate">
		<p><%= link_to invoice.created_at.strftime('%B %d, %y'), invoice %></p>
	</div>
	<div class="invoicePartialClient">
		<p><%= invoice.client.name %></p>
	</div>
	<div class="invoicePartialTotal">
		<p><%= number_to_currency(invoice.total) %></p>
	</div>
	<div class="invoicePartialPaid">
		<%= render partial: 'invoices/paid_status', locals: { invoice: invoice } %>
	</div>
	<div class="clear"></div>
</div>