<%= content_for :head do %>
<script>
$(document).ready(function() {
	var d = $('#deleteHeader');
	if (d.length > 0) {
		d.css("display", "inline-block");
		d.html(
			'<%= link_to "Delete", @invoice, method: :delete, confirm: "Delete invoice?" %>')
	}
})
</script>
<% end %>
<div class="pageHeader">
	<%= link_to "Invoice #{@invoice.id}", @invoice %>
</div>
<div class="invoice">
	<%= render 'invoices/invoice_items' %>
</div>
<div class="itemForm">
	<%= form_for @item do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.hidden_field :invoice_id, value: @invoice.id %>
		<div class="itemFormField itemFormDate">
			<p>Date</p>
			<%= f.text_field :date, tabindex: 1 %>
		</div>
		<div class="field itemFormDetails">
			<p>Details</p>
			<%= f.text_area :details, tabindex: 2 %>
		</div>
		<div class="itemFormField itemFormRate">
			<p>Rate</p>
			<%= f.text_field :rate, tabindex: 4 %>
		</div>
		<div class="itemFormField itemFormHours">
			<p>Hours</p>
			<%= f.text_field :hours, tabindex: 3 %>
		</div>
		<div class="clear"></div>
		<div class="action">
			<%= f.submit 'Submit', tabindex: 6 %>
		</div>
	<% end %>
	<div class="clear"></div>
</div>