<%= content_for :head do %>
<script>
$(document).ready(function() {
	var d = $('#deleteHeader');
	if (d.length > 0) {
		d.css("display", "inline-block");
		d.html(
			'<%= link_to "Delete", @invoice, method: :delete, confirm: "Delete invoice?" %>')
	}
})
</script>
<% end %>
<div class="pageHeader">
	<%= link_to "Invoice #{@invoice.id}", @invoice %>
</div>
<div class="itemForm">
	<%= render 'items/item_form' %>
</div>
<div class="invoice">
	<%= render 'invoices/invoice_items' %>
</div>