<div class="centerForm">
	<div class="pageHeader">
		<%= @title %>
	</div>
	<%= form_for @user do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field">
			<p>Name</p>
			<%= f.text_field :name, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Email</p>
			<%= f.text_field :email, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Address</p>
			<%= f.text_field :address, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>City</p>
			<%= f.text_field :city, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>State</p>
			<%= f.text_field :state, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Zip</p>
			<%= f.text_field :zip, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Phone</p>
			<%= f.text_field :phone, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Password</p>
			<%= f.password_field :password, autocomplete: 'off' %>
		</div>
		<div class="field">
			<p>Password Confirmation</p>
			<%= f.password_field :password_confirmation, autocomplete: 'off' %>
		</div>
		<div class="action">
			<%= f.submit 'Submit' %>
		</div>
	<% end %>
</div>