<div class="item <%= cycle('odd', 'even') %>" id="item_<%= item.id %>">
	<div class="itemDate">
		<% if signed_in? && current_user.admin? %>
			<%= link_to item.date.strftime('%B %d, %y'), item, method: :delete, 
				remote: true, confirm: 'Delete item?', class: 'grey70' %>
		<% else %>
			<p><%= item.date.strftime('%B %d, %y') %></p>
		<% end %>
	</div>
	<div class="itemDetails">
		<% if signed_in? && current_user.admin? %>
			<%= link_to to_html(item.details), edit_item_path(item), class: 'grey70' %>
		<% else %>
			<p><%= to_html(item.details) %></p>
		<% end %>
	</div>
	<div class="itemHours">
		<p><%= item.hours %></p>
	</div>
	<div class="itemRate">
		<p><%= number_to_currency(item.rate) %></p>
	</div>
	<div class="itemAmount">
		<p><%= number_to_currency(item.amount) %></p>
	</div>
	<div class="clear"></div>
</div>